<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store Name</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color:black">
            <div class="container">
                <a class="navbar-brand GameText" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:medium; color:aqua">
                    <img src="~/game-controller.png" width="70" height="50"/>
                    FlashGames
                </a>
                <!--
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                -->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="text-light">@TempData.Peek("currentCustomer")</div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link GameText" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link GameText" asp-controller="Location" asp-action="SelectLocation">
                                Place Order
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle GameText" href="#" id="OrderHistoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Order Histories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Location" asp-action="SelectLocation">Location Histories</a>
                                <a class="dropdown-item" asp-controller="OrderHistory" asp-action="CustomerHistories">Your Histories</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link GameText" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a class="nav-link GameText" asp-area="" asp-controller="Customer" asp-action="SignIn">
                                Sign In
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="background-color:ivory; border-top: dashed; border-top-width: thick; border-top-color: maroon">
        <div class="container">
            &copy; 2020 - StoreApplication.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | 
            Icons made by <a href="https://www.flaticon.com/free-icon/game-controller_1986447?term=game%20controller&page=7&position=96" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> | 
            Gif made by <a href="https://haydiroket.tumblr.com/">Haydiroket</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
