/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@keyframes sonicRun {
    0% {left:-200px;}
    100% {left:1500px;}
}

div.SanicFast {
    position: absolute;
    animation-name: sonicRun;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

div.Image {
    background-image: url("../Game-Background.png");
    background-size:1200px 400px;
}

div.SecondImage {
    background-image: url("../Game-Background-3.png");
    background-size: 1200px 400px;
    width:1100px;
    height:370px;
}
h3.GameText {
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    color: black;
}
h1.GameText {
    font-family: 'Press Start 2P', cursive;
    color: black;
}

a.GameText {
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
    color:aqua;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a.list-group-item.list-group-item-action.Clear {
    background: none;
    font-family: 'Press Start 2P', cursive;
    color: black;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
