@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Store Name</h1>
</div>

<div class="text-center">
    <h3>What would you like to do?</h3>
    <div class="list-group">
        <a asp-controller="Location" asp-action="SelectLocation">Place an Order</a>
        <a asp-controller="OrderHistory" asp-action="Index">View Order Histories</a>
    </div>
</div>
